.formu {
  height: $tamform;
  padding: $espacio30;
}

button {
  margin: $espacio5;
  padding: $espacio10;
}

.escribir3 {
  height: $tam100;
  width: $tam800;
}

button {
  background-color: $colorR;
  border: none;
  padding: $espacio10;
  font-size: $textoBtn;
  font-family: $especialFont;
  width: $tam100;
  align-self: $textoCenter;
}