// variables

//Paleta de colores marca
$colorR: #DA98A7;
$colorB: #82C2D9;
$colorG: #AAABA8;
$colorA: #D9D6AD;
$colorK: #0B0B0B;
$white: #EEE9E9;

//Font
$textoFont: 'Montserrat', sans-serif;
$especialFont: 'Nunito Sans', sans-serif;

//Tamaños
$titulo1: 45px;
$titulo2: 30px;
$titulo3: 20px;

$texto1: 18px;
$texto2: 13px;

$textoBtn: 15px;

//pesos
$textLight: 300;
$textRegular: 400;
$textBold: 600;